body {
    margin: 10px;
}

.boutonAjouter {
    margin-left: 5px;
}

.listeTaches li {
    background-color: lightgray;
    list-style: none;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    align-content: center;
    padding-left: 30px;
}
.listeTaches li button {
    border-radius: 20px;
    border: none;
    padding: 4px 8px;
}